<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1 class="section-title">About</h1>
        <p class="blurp">Learn more about us, our vision and how we want to inspire and entertain you.</p>
      </div>
      <div class="col-md-7">
        <h4>1. History</h4>
        <p>Welcome to Blackbright! We are a blog dedicated to engaging, inspiring and helping you get your dreams become a reality. Whether it’s building the bravery to approach the girl or guy, getting out of debt, building a business or changing your circle of influence, blackbright is the place for you.</p>

        <h4>2. Join us</h4>
        <p>Don't worry! Yes the website is still under production but we do have daily social media posts so hit us up on twitter, facebook or instagram. Click on the icons below. </p>
       
      </div>
    </div>
  </div>
</section>
